@charset "utf-8";
/* CSS Document */
.banner{width:100%; height:378px; position:relative;}
.banner .login_box{width:270px; border-radius:3px; background:#fff; overflow:hidden; position:absolute; top:20px; right:50%; margin-right:-600px; z-index:9;}
.banner .login_box .t_t{height:40px; line-height:40px; color:#2a3138; background:#eef3f8; border-bottom:1px solid #d4d9df; font-weight:bold; text-indent:20px; font-size:16px;}
.banner .login_box .con{background:#fff; margin:2px; border-radius:3px; height:auto; position:relative; padding-bottom:10px;}
.banner .login_box .con ul{padding:20px;}
.banner .login_box .con ul li{margin-bottom:10px; overflow:hidden;}
.banner .login_box .con ul li .in1{border:1px solid #aabecc; width:224px; height:32px; line-height:32px; background:#fff url(http://static.lllnet.cn/zj-web/static/images/l_icon1.gif) 5px center no-repeat; text-indent:34px;}
.banner .login_box .con ul li .in2{border:1px solid #aabecc; width:224px; height:32px; line-height:32px; background:#fff url(http://static.lllnet.cn/zj-web/static/images/l_icon2.gif) 5px center no-repeat; text-indent:34px;}
.banner .login_box .con ul li .in3{border:1px solid #aabecc; width:134px; height:32px; line-height:32px; background:#fff url(http://static.lllnet.cn/zj-web/static/images/l_icon3.gif) 5px center no-repeat; text-indent:34px; float:left}
.banner .login_box .con ul li img{height:34px; margin-left:5px; width:85px;}
.banner .login_box .con ul li .l_btn1{height:42px; line-height:42px; background:url(http://static.lllnet.cn/zj-web/static/images/dlbg1.gif) repeat-x; border-radius:3px; text-align:center; width:110px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; border:0; float:left;}
.banner .login_box .con ul li .l_btn2{height:40px; line-height:40px; border:1px solid #e2e6ea; background:url(http://static.lllnet.cn/zj-web/static/images/dlbg2.gif) repeat-x; border-radius:3px; text-align:center; width:108px; color:#2a3138; font-size:16px; font-weight:bold; cursor:pointer; float:right;}
.banner .login_box .con ul li a{color:#267cd9; margin:0 10px;}
.banner .login_box .con .l_bottom{background:#eef3f8; text-align:center; color:#ccc; width:100%; height:32px; line-height:32px; overflow:hidden; position:absolute; bottom:0; left:0;}

.banner .login_box .con .u_touxiang{text-align:center; margin:30px 0 0 0;}
.banner .login_box .con .u_touxiang img{width:100px; height:100px; border-radius:100%;}
.banner .login_box .con .u_name{font-size:16px; text-align:center; font-weight:700; margin:10px 0;}
.banner .login_box .con .u_btns{font-size:12px; text-align:center; margin:10px 0; color:#ccc}
.banner .login_box .con .u_btns a{margin:0 10px;}
.banner .login_box .con .u_btns1{font-size:12px; text-align:center; margin:10px 0 30px 0;}
.banner .login_box .con .u_btns1 a{width:100px; border-radius:3px; text-align:center; height:30px; line-height:30px; color:#fff; background:#2c72d1; display:inline-block;}


.lct{width:1200px; margin:20px auto;}
.in_main_con{width:1200px; margin:0 auto; overflow:hidden;}
.i_box1{overflow:hidden; margin-bottom:20px;}

.sq_r_side{width:910px; float:left;}
.sq_r_side dt{border-bottom:2px solid #267cd9; overflow:hidden}
.sq_r_side dt li{float:left; width:105px; text-align:center; border:1px solid #d2e0ee; border-top-left-radius:3px; border-top-right-radius:3px; background:url(http://static.lllnet.cn/zj-web/static/images/con1bg1.gif) bottom repeat-x; height:40px; line-height:40px; margin-right:5px; border-bottom:0; font-size:16px; cursor:pointer}
.sq_r_side dt li.shnax{ background:#267cd9; border:1px solid #267cd9;  border-bottom:0; color:#fff}
.sq_r_side dd{border:1px solid #d2e0ee; border-top:0; padding:20px 20px 0 20px; overflow:hidden; height:218px;}
.sq_r_side dd .box1 h2{font-size:16px; font-weight:bold; padding-bottom:10px;  }
.sq_r_side dd .box1 ul{width:110%;}
.sq_r_side dd .box1 li{width:410px; float:left; margin:0 20px 20px 0;}
.sq_r_side dd .box1 li .nr{width:250px; margin-left:20px;}
.sq_r_side dd .box1 li .nr h3{font-size:16px; margin-bottom:5px;}
.sq_r_side dd .box1 li .nr p {
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.sq_r_side dd .box1 li .nr p span{font-size:12px;}


.sq_r_side1{width:910px; float:left;}
.sq_r_side1 dt{border-bottom:2px solid #267cd9; overflow:hidden}
.sq_r_side1 dt li{float:left; width:145px; text-align:center; border:1px solid #d2e0ee; border-top-left-radius:3px; border-top-right-radius:3px; background:url(http://static.lllnet.cn/zj-web/static/images/con1bg1.gif) bottom repeat-x; height:40px; line-height:40px; margin-right:5px; border-bottom:0; font-size:16px; cursor:pointer}
.sq_r_side1 dt li.shnax1{ background:#267cd9; border:1px solid #267cd9;  border-bottom:0; color:#fff}
.sq_r_side1 dd{border:1px solid #d2e0ee; border-top:0; padding:20px 20px 0 20px; overflow:hidden; height:192px;}
.sq_r_side1 dd .box1{width:838px; overflow:hidden;}
.sq_r_side1 dd .box1 img{width:280px; height:172px;}
.sq_r_side1 dd .box1 ul.news1{width:540px; float:right;}
.sq_r_side1 dd .box1 li{height:30px; width:530px; line-height:30px; background:url(http://static.lllnet.cn/zj-web/static/images/libg1.gif) left center no-repeat; padding-left:10px;}
.sq_r_side1 dd .box1 li a{display:inline-block; height:30px; line-height:30px; width:420px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; float:left;}
.sq_r_side1 dd .box1 li span{float:right; color:#999; display:inline-block; font-size:12px;}
.sq_r_side1 dd .box1 li .nr{width:250px; margin-left:20px;}
.sq_r_side1 dd .box1 li .nr h2{font-size:16px; margin-bottom:5px;}
.sq_r_side1 dd .box1 li .nr p{font-size:14px; color:#999;}
.sq_r_side1 dd .box1 li .nr p span{font-size:12px;}



.cx_box{width:270px; float:right; background:#fff; border-radius:3px; height:282px; overflow:hidden;}
.cx_box .t_t{height:40px; line-height:40px; background:url(http://static.lllnet.cn/zj-web/static/images/con1bg1.gif) repeat-x; color:#2c72d1; border:1px solid #c4d5ea; font-weight:bold; font-size:16px;}
.cx_box .t_t span{display:inline-block; margin-right:6px; background:url(http://static.lllnet.cn/zj-web/static/images/zz.png) no-repeat; width:24px; height:24px; margin-top:8px; float:left; margin-left:20px;}
.cx_box .zj_con{background:#fff; border-bottom-left-radius:3px; border-bottom-right-radius:3px; border:1px solid #c4d5ea; border-top:0; height:238px;}
.cx_box .zj_con ul{padding:20px;}
.cx_box .zj_con ul li{margin-bottom:10px; overflow:hidden;}
.cx_box .zj_con ul li .in1{border:1px solid #aabecc; width:224px; height:32px; line-height:32px; text-indent:5px;}
.cx_box .zj_con ul li .in2{border:1px solid #aabecc; width:224px; height:32px; line-height:32px; text-indent:5px;}
.cx_box .zj_con ul li .l_btn1{height:42px; line-height:42px; background:url(http://static.lllnet.cn/zj-web/static/images/dlbg1.gif) repeat-x; border-radius:3px; text-align:center; width:224px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; border:0; margin-top:10px;}
.cx_box .zj_con ul li a{color:#267cd9;}
.cx_box .zj_con ul li .cx_name{margin-bottom:5px;}


.kf_box{width:270px; float:right; border-radius:3px; height:256px; overflow:hidden;}



.flexslider{width:100%;overflow:hidden; height:378px; position:relative;}
.slides{position:relative;z-index:1; height:378px; overflow:hidden;}
.slides li{ width:100%; height:378px;cursor: default;}
.slides li img{ width:100%;cursor: default;}
.flexslider li a{ width:100%; height:100%; display:block;cursor: default;}
.flex-control-nav{position:absolute;bottom:20px; z-index:2;width:57px;text-align:center; height:15px; background:url(http://static.lllnet.cn/zj-web/static/images/toubg1.png) repeat; padding-top:3px; left:50%; margin-left:-25px; border-radius:10px;}
.flex-control-nav li{display:inline-block;width:12px;height:12px;margin:0 3px; *display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:12px; border-radius:100%; height:12px; text-indent:-9999px; overflow:hidden;background:#bbb;cursor:pointer;}
.flex-control-nav .flex-active{background:#fff;}



.modal-contentMode {
    width: 50%;
    background-color: #fff;
    padding-bottom:20px;
    margin-left: 25%;
}


.modal-bodyMode .top  .loginp {
    font-size: 25px;
    margin-top: 28px;
    text-align: center;
    letter-spacing: .5em;
}
 

.modal-contentMode img#checkcodeMode {
    /* width: 27%; */
    height: 40px;
    vertical-align: middele;
    vertical-align: bottom;
}


.modal-bodyMode .topMode {
    width:100%;
    display: inline-block;
    position:relative;
    top:-20px;
}

.dl_title{text-align:left; letter-spacing: .2em; border-bottom:1px solid #ddd; padding:10px 10px 10px 20px; font-size:20px; font-weight:700;}
.dl_title_ts{text-align:left; border-bottom:1px solid #ddd; padding:10px 10px 10px 20px; font-size:18px;}
.dl_input{width:100%; margin:20px 0 0 0;}
.dl_input li{width:100%; margin-bottom:10px; overflow:hidden;}
.form-control1{border:1px solid #ddd; padding:0 5px; width:448px; margin:0 20px; height:38px; line-height:38px;}
.form-control11{border:1px solid #ddd; padding:0 5px; width:314px; margin:0 10px 0 20px; height:38px; line-height:38px;}
.dl_btn1 {
    width: 224px;
    height: 40px;
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 3px;
    background:#2c72d1;
    background-size: 100% 100%;
    cursor:pointer;
    line-height:40px;
    margin:10px 10px 0 20px;
    float:left;
    letter-spacing: .5em;
}
a.dl_btn2 {
    width: 222px;
    height: 38px;
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 3px;
    background:#fff;
    background-size: 100% 100%;
    line-height:38px;
    border:1px solid #2c72d1;
    text-align:center;
    color:#2c72d1;
    display:inline-block;
    margin-top:10px;
    letter-spacing: .5em;
}


.modal-contentnew  .modal-header span{
	
	    font-size: 17px;
    /* font-weight: 550; */
    letter-spacing: .1em;
    margin-top: 7px;
    margin-left: 7px;
    /* top: 10px; */
    display: inline-block;
}


.modal-contentBlowser {
    background: #fff;
        width: 70%;
    height:220px;
    margin-left: 15%;
}

 .modal-bodyBlowser .modal-bodyBlowser_top img{
    vertical-align: bottom;
    margin-top: 20px;
    margin-left: 20px;
}

 .modal-bodyBlowser .modal-bodyBlowser_top span{
    font-size: 18px;
   
    width: 545px;
    display: inline-block;
    margin-left: 10px;
   
 }
  .modal-bodyBlowser .modal-bodyBlowser_top1 span{
    font-size: 18px;
       margin-top: 27px;
    width: 545px;
    display: inline-block;
    margin-left: 58px;
   
 }
 
 
 .modal-bodyBlowser_bottom  p{
      font-size: 15px;
    margin-top: 16px;
    margin-left: 100px;
   
 }
  .modal-bodyBlowser_bottom ul{
         margin-left: 39px;
    margin-top: 14px;
}
  .modal-bodyBlowser_bottom1 ul{
         
    margin-top: 14px;
}
   .modal-bodyBlowser_bottom  ul li img{
vertical-align: bottom;
   
 }
 
   .modal-bodyBlowser_bottom1  ul li img{
vertical-align: bottom;
   
 }
  .modal-bodyBlowser_bottom  ul li{
  float: left;
    margin-left: 60px;
   
 }
  .modal-bodyBlowser_bottom1  ul li{
  float: left;
    margin-left: 60px;
   
 }
 
 .aTag{
 color:#3C4E80;text-decoration: underline;coursor:pointer
 
 }
 
.fz_box{
	width:1200px; margin:0 auto; overflow: hidden;
}
.fz_box h2{margin-bottom: 5px;}
.fz_box ul{width: 110%; overflow: hidden;}
.fz_box ul li{float: left; margin-right: 19px; margin-bottom: 19px; height: 70px;}

/*集体报名*/
		.jiti_entry{
			 color:#fff;
			padding:3px 8px;
			border-radius: 3px;
			background-color:#2c72d1;
			letter-spacing: .1em;
		}
		.jiti_entry:hover{
			 color:#fff;
			padding:3px 8px;
			border-radius: 3px;
			background-color:#2c72d1;
			letter-spacing: .1em;
		}
		
		
		 a.aTag1 {
     font-size: 16px; 
}


/*后续加的样式----start-----*/
		.sq_r_side{
			position: relative;
		}
		/*更多----start-----*/
		.moreContent{
			position:absolute;right: 0;top:15px;font-size: 14px;letter-spacing: 2px;
			
		}
		.moreContent:hover{
			text-decoration: underline;
			
		}
		/*更多----end-----*/
		/*集体报名*/
		.login_box .t_r .jiti_bm{
        		position: absolute;top: 6px;right: 20px;
        	}
/*后续加的样式----end-----*/