/** page **/
.table_left{ float:left; margin-left:10px; display:inline; font-size: 12px; line-height: 24px;}
.table_left b{ color:rgb(42, 109, 170); width: 20px; display: inline;}
.table_right{ float:right; width:460px; height:21px; margin-right:10px; display:inline; font-size: 12px; }
.table_right *{ float:right; display:inline-block; line-height: 24px;}
.table_right a{ height:19px; width:23px; line-height:18px; margin-right:3px; border:solid 1px #a6a8ae; text-align:center;}
.table_right a.dq{ color:rgb(42, 109, 170); font-weight: bold;}
.table_right input{ border:solid 1px #a6a8ae; width:33px; height:19px; line-height:19px; margin-right:3px; display:inline;}
.table_right .butt{ border:solid 1px #a6a8ae; width:33px; height:21px; margin-right:3px; display:inline;cursor: pointer;}
.table_right .sy{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -14px -364px;}
.table_right .syy{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -43px -364px;}
.table_right .xyy{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -111px -364px;}
.table_right .my{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -141px -364px;}
.table_right .sy_hover{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -1px -994px;cursor: default;}
.table_right .syy_hover{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -30px -994px;cursor: default;}
.table_right .xyy_hover{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -98px -994px;cursor: default;}
.table_right .my_hover{height:19px; width:23px;  background:url(http://static.lllnet.cn/zj-web/static/images/main_yzh.png) no-repeat -128px -994px;cursor: default;}
