@charset "utf-8";
/* CSS Document */
.u_l_side{width:220px; height:655px; background:#f8fafc; overflow:hidden;}
.u_l_side .u_pic{width:115px; height:115px; margin:20px auto; padding-top:10px;}
.u_l_side .u_pic img{width:115px; height:115px;}
.u_l_side .u_pic a{width:115px; height:115px; display:block; border-radius:100%; overflow:hidden; position:relative;}
.u_l_side .u_pic a span{position:absolute; left:-9999px; width:115px; height:115px; line-height:115px;}
.u_l_side .u_pic a:hover span{left:0; top:0; background:url(../common/images/tmbg.png) repeat; text-align:center; color:#fff;}

.u_l_side h2{border-bottom:1px solid #d0d6d9; margin:0 20px 20px 20px; padding-bottom:20px}


.u_r_side{width:930px; overflow:hidden;}
.info_con{padding:30px 0;}
.pic_box{margin:20px 0; position:relative; padding-bottom:20px;}
.pic_box img{width:135px; height:190px;}
.pic_box .btn_p{position:absolute; left:220px; top:80px;}
.pic_box ul li{min-height:36px; margin:5px 0; overflow:hidden;}
.pic_box ul li label{width:150px; display:block; text-align:right; color:#999; padding-right:10px; float:left; line-height:30px;}
.pic_box ul li p{line-height:30px;}
.pic_box ul li .in1{height:30px; line-height:30px; width:274px; text-indent:2px; border:1px solid #d0d6d9}
.pic_box ul li .select1{width:90px; height:30px; line-height:30px; float:left; margin-right:2px; border:1px solid #d0d6d9}
.pic_box ul li .select2{width:274px; height:30px; line-height:30px; border:1px solid #d0d6d9}

.u_r_side .top{border-bottom:1px solid #d0d6d9; height:36px; line-height:36px; position:relative;}
.u_r_side .top p{float:left; padding:0; margin-right:20px; cursor:pointer;}
.u_r_side .top p.p{border-bottom:2px solid #288adf;}
.px_list{width:100%;}
.px_list li{border-bottom:1px solid #d0d6d9; padding:20px 0; zoom:1; overflow:hidden; height:117px;}
.px_list li .img{width:156px; height:117px; margin-right:20px; overflow:hidden;}
.px_list li .img img{width:156px; height:117px;}
.px_list li .px_con{width:600px; height:117px; position:relative;}
.px_list li .px_con h2{padding-bottom:10px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.px_list li .px_con p{padding-top:10px; color:#999; font-size:12px;}
.px_list li .px_con p span.shuoming{display:inline-block; padding-left:40px;}
.px_list li .px_con .t_icon{position:absolute; bottom:0; color:#999;}
.px_list li .px_con .t_icon span{display:inline-block; padding-left:22px; font-size:12px;}
.px_list li .px_con .t_icon span.date1{background:url(../common/images/kejianicon.png) left center no-repeat; margin-right:10px;}
.px_list li .px_btn{width:140px; height:117px; position:relative;}
.px_list li .px_btn .btn_redb2{position:absolute; right:0; top:35px;}

.px_list dl{width:110%; padding:20px 0 0 0; overflow:hidden}
.px_list dl dd{ margin-right:20px; float:left}
.px_list dl dd a{display:block; width:172px; text-align:center;border:1px solid #ddd; position:relative;}
.px_list dl dd a h2{font-size:18px; line-height:60px; height:60px;}
.px_list dl dd a p{background:#efefef; height:24px; line-height:24px;}
.px_list dl dd a.current{display:block; width:172px; text-align:center;border:2px solid #19ae31; color:#19ae31}
.px_list .kt_btn{padding:30px 0 10px 0; text-align:center;}
.px_list .kt_btn a{display:inline-block; border-radius:30px; background:#19ae31; padding:5px 30px; color:#fff; font-size:18px;}
.px_list .kt_btn p{text-align:left; color:#e4a766; margin-bottom:20px;}

.px_list .no_px{margin:100px auto 0 auto; text-align:center;}
.px_list .no_px a{margin:0 10px;}

/*--左侧菜单--*/
.menu{width:100%;}
.menu li{height:50px; line-height:50px;}
.menu li a{width:100%; height:50px; line-height:50px; display:block;}
.menu li a.active{background:#2587dd;; color:#fff}
.menu li a em{width:20px; height:20px; background-image:url(http://static.lllnet.cn/zj-web/static/images/icons.png); background-repeat:no-repeat; display:inline-block; margin:0 10px 0 60px; position:relative; top:5px;}
.menu li a em.icon_px{background-position:0 0;}
.menu li a em.icon_da{background-position:0 -40px;}
.menu li a em.icon_xxjl{background-position:0 -345px;}
.menu li a em.icon_gw{background-position:0 -385px;}
.menu li a em.icon_dingdan{background-position:0 -425px;}
.menu li a em.icon_fp{background-position:0 -465px;}
.menu li a.active em.icon_px{background-position:0 -20px;}
.menu li a.active em.icon_da{background-position:0 -60px;}
.menu li a.active em.icon_xxjl{background-position:0 -365px;}
.menu li a.active em.icon_gw{background-position:0 -405px;}
.menu li a.active em.icon_dingdan{background-position:0 -445px;}
.menu li a.active em.icon_fp{background-position:0 -485px;}

.table1{background:#d0d6d9;}
.table1 td{padding:10px; background:#fff; }
.table1 td.bg11{background:#f3f5f7;}
.table1 td.bg12{background:#ff6634; color:#fff; font-size:18px;}
.table1 td .img img{width:80px; height: 115px;}

/*--学习记录--*/
.top_box{zoom:1; overflow:hidden; height:84px; padding-bottom:20px; border-bottom:1px solid #d0d6d9; position:relative;}
.top_box .btn_redb2{position:absolute; right:0; top:30px; font-size:12px;}
.top_box dl{float:left; padding-left:20px; width:1000px;}
.top_box dl dt{font-size:24px; font-weight:bold; padding-bottom:7px; color:#000;}
.top_box dl dt span.tongguo{background:#24ca44; display:inline-block; padding:2px 10px; color:#fff; font-size:14px; position:relative; top:-2px; margin-left:10px;}
.top_box dl dt span.weitongguo{background:#f01415; display:inline-block; padding:2px 10px; color:#fff; font-size:14px; position:relative; top:-2px; margin-left:10px;}
.top_box dl dd{color:#999;}


.edit_password_div a{color: #666;}
.edit_password_div a:hover{color: #2c72d1; }

 .yonhu_xy_div{ width:920px;  height:500px; border:#ccc solid 1px; top:150px; background:#fff; position:fixed; margin-left:50%; left:-460px;}
.yonhu_xy{display: none;   z-index:999999; left:0; top:0; width:100%; height:200%; position:absolute;}
.yonhu_xy_div dl dt{ height:28px; font-size:14px; background:#f3f3f3; border-bottom:#ddd solid 1px; font-weight:bold; padding-left:12px; position:relative; line-height:28px;}
.yonhu_xy_div dl dd{ padding:10px; overflow:auto; height:360px;}
.yonhu_xy_div div{ position:relative; text-align:center; margin-top:20px;}

.yonhu_xy_div div .btn{width:360px; height:48px; display:inline-block; line-height:48px; background:#dd362e; text-align:center; color:#fff; border:none; margin:0 auto; border-radius:4px; cursor:pointer;}
.yonhu_xy_div div .btn:hover{background:#e93d35;}
.yonhu_xy_div dl dt img{ position:absolute; top:7px; right:10px; cursor:pointer}


.tipsInfo{background:#fef1d8 ; color:#e54621; border:1px solid #fbc298 ; padding: 10px;}

.titleb2{position:relative; width:100%;}
.titleb2 .ckzsBtn{position:absolute; right:19px; padding:5px 10px; border-radius:3px; background:#2c72d1; color:#fff; font-size:14px; font-weight:normal;}
.titleb2 .ckzsBtn1{position:absolute; right:19px; padding:5px 10px; border-radius:3px; background:#ccc; color:#fff; font-size:14px; font-weight:normal;}
.ddfl_item{padding:10px 0 5px 0}
.ddfl_item a{height:26px; display:inline-block; background:#efefef; margin-right:5px; font-size:12px; border-radius:3px; padding:0 10px; line-height:26px;}
.ddfl_item a.current1{background:#2c72d1; color:#fff;}

.vip_kt{background:#fafafa; border:1px solid #eee; padding:20px; overflow:hidden; margin-bottom:10px;}
.vip_icon1{float:left; background:url(../images/vip_v_gray.png) left center no-repeat; padding-left:75px;}
.vip_icon1 h2{font-size:18px; font-weight:bold; color:#19ae31;}
.vip_icon2{float:left; background:url(../images/vip_v.png) left center no-repeat; padding-left:75px;}
.vip_icon2 h2{font-size:18px; font-weight:bold; color:#19ae31;}
.btn{float:right; padding-top:10px;}
.btn a{height:30px; line-height:30px; background:#e4a766; color:#fff; padding:0 30px; display:block; border-radius:30px;}

.laertbg{ width:100%; height:100%; background:#000; position:fixed; top:0px; left:0px;opacity:0.5; z-index:11; display:none;}
.laertbox{ width:800px; height:auto; background:#fff; position:fixed; top:50%; left:50%;border-radius:5px; margin-left:-400px; margin-top:-330px; z-index:111; font-family:"微软雅黑";display:none; padding-bottom:20px;}
.laertbox .top{ height:56px; border-bottom:solid 1px #e5e5e5; line-height:56px;}
.laertbox .top .left{ text-indent:28px; font-size:18px; font-weight:bold; float:left;}
.laertbox .top .right{ margin-right:20px; cursor:pointer; float:right; width:20px; height:20px; margin-top:18px; line-height:0;}
.laertbox ul{ padding:20px 0 0 28px; margin:0 auto;}
.laertbox ul li{overflow:hidden; margin-bottom:20px;}
.laertbox ul li label{float:left; margin-right:10px; font-size:12px; display:inline-block; height:30px; line-height:30px;}
.laertbox ul li select{height:30px;}
.laertbox ul li .input1{width:355px; height:30px; line-height:30px; border:1px solid #ddd; padding:0 10px;}
.laertbox ul li textarea{width:500px; height:100px; border:1px solid #ddd; padding:0 10px;}
.laertbox ul li .btn1{background:url(tc_btn1bg.gif) repeat-x; width:100px; text-align:center; height:34px; line-height:34px;font-family:"微软雅黑"; border:0; cursor:pointer; color:#fff;}
.laertbox ul li .btn2{background:url(tc_btn2bg.gif) repeat-x; width:100px; text-align:center; height:34px; line-height:34px;font-family:"微软雅黑"; border:1px solid #b7c0c7; cursor:pointer; color:#323536;}
